@font-face {
  font-family: rockstar-font;
  src: url("Helvetica-Black.otf");
}

body
{
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #818181;
}

#logo
{
  height: auto;
  width: 50px;
}

h2
{
  text-transform: uppercase;
  font-size: 22px;
  color: #111111;
  font-weight: 600;
  margin-bottom: 20px;
}

h4
{
  font-size: 18px;
  font-weight: 500;
  color: #303030;
  margin-bottom: 20px;
}

.navbar
{
  margin-bottom: 0;
  background-color: #f7b400;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
}

.navbar li a, .navbar .navbar-brand
{
   color: #fff !important;
 }

.navbar-nav li a:hover, .navbar-nav li.active a
 {
  color: #000000 !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle
{
  border-color: transparent;
  color: #fff !important;
}

.jumbotron
{
  height: 80vh;
  background-color: #f7b400;
  color: black;
  padding: 100px 25px;
  font-family: Montserrat, sans-serif;
}

.jumbotron h1
{
  margin-top: 15%;
  font-family: rockstar-font;
}

.container-fluid
{
  padding: 60px 50px;
}

#about
{
  margin-left: 10%;
}

#aboutimg
{
  width: 250px;
  height: 250px;
  margin-left: 10%;
  margin-top: 10%;
}

.logo-small
{
  color: #000000;
  font-size: 45px;
  margin-top: 5%;
}

#offer
{
  margin-bottom: 10%;
}
