@font-face {
  font-family: Betm;
  src: url("Betm.otf");
}

.btn
{
  background-color: #2b2b2b;
}

.jumbotron
{
  width: 100% !important;
  margin: 0 !important;
}

.carousel-caption h5
{
  font-family: Betm;
  text-transform: uppercase;
  font-size: 25px;
  color: white;
  text-shadow: 2px 2px black;
}

.carousel
{
  margin-top: 0;
  width: 100%;
  padding: 0;
}

.carousel img
{
  filter: brightness(60%);
}

.headline-text
{
  margin-top: 4%;
  letter-spacing: 5px;
  color: black;
}

.headline-text:hover
{
  transition: color 1.5s;
  color: #c72501;
}

.headline h2, h3, p
{
  margin-left: 10%;
  padding-bottom: 0;
}

.headline img
{
  height: auto;
  width: 90%;
}

.page-content
{
  margin-top: 3%;
}
