@font-face {
  font-family: Betm;
  src: url("Betm.otf");
}

.btn
{
  background-color: #2b2b2b;
}

.jumbotron
{
  width: 100% !important;
  margin: 0 !important;
}

.carousel-caption h5
{
  font-family: Betm;
  text-transform: uppercase;
  font-size: 25px;
  color: white;
  text-shadow: 2px 2px black;
}

.carousel
{
  margin-top: 0;
  width: 100%;
  padding: 0;
}

.carousel img
{
  filter: brightness(60%);
}
