body
{
  color: #9a9a9a;
  font-family: Helvetica Black;
  line-height: 1.8;
}

@font-face {
  font-family: Helvetica Black;
  src: url("Helvetica-Black.otf");
}

@font-face {
  font-family: Betm;
  src: url("Betm.otf");
}

.not-visible
{
  display: none;
}

.is-visible
{
  display: block;
}

.alert
{
  width: 30%;
  margin: 0 auto;
  margin-bottom: 2%;
}

.formdiv
{
  width: 40%;
  margin: 0 auto;
}

.jumbotron
{
  background-color: white;
}

.jumbotron p
{
  font-family: Helvetica Black;
  font-size: 15px;
}

h1
{
  color: black;
}

h2
{
  font-weight: 600;
  color: black;
  font-family: Betm;
  text-transform: uppercase;
}

h4
{
  color: black;
  font-family: Betm;
}

.active
{
  border-bottom: 2px solid black;
}

.listicon
{
  color: black;
}

.logo
{
  color: black;
  font-size: 40px;
  padding-top: 5px;
}

.navbar
{
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
  font-size: 14px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 2px;
  font-family: Betm;
}

.navbar li a:hover
{
  transition: border-bottom 0.3s;
  color: black !important;
  border-bottom: 2px solid black;

}

.navbar li a
{
  color: #5d5d5d !important;
  margin-left: 50px;
  padding-bottom: 10px;
}

.navbar-default .navbar-toggle
{
  border-color: transparent;
  color: #fff !important;
}

.form
{
  color: black;
  font-family: Arial;
}
